@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap");

body {
  margin: 0;
  background: url(/assets/img/desk.jpg);
  background-size: 100vw;
  background-repeat: no-repeat;
  font-family: "Ubuntu", sans-serif;
}

.titulo {
  color: #fafafa;
  font-size: 50px;
  text-align: center;
  margin-top: 140px;
}

.container {
  display: flex;
  justify-content: center;
}

.foto-perfil {
  position: absolute;
  margin-left: -10vw;
}

.foto-perfil img {
  border-radius: 50%;
}

.foto-perfil p {
  position: relative;
  text-align: center;
  font-size: 20px;
  color: #fafafa;
}

.informacoes {
  margin: 2vw 0 0 18vw;
}

.informacoes .fas {
  font-size: 3rem;
  color: #fafafa;
  margin: 0 1rem 0 0.2rem;
}

.informacoes a {
  text-decoration: none;
  color: #fafafa;
  font-size: 1.1rem;
}

.informacoes_dados {
  border-radius: 5px;
  width: 14vw;
  padding: 10px;
  margin-top: 15px;
  background-color: #151515;
  cursor: pointer;
  transition: 0.3s;
}

.informacoes_exp {
  border-radius: 5px;
  width: 14vw;
  padding: 10px;
  margin-top: 15px;
  background-color: #151515;
  cursor: pointer;
  transition: 0.3s;
}

.informacoes_contato {
  border-radius: 5px;
  width: 14vw;
  padding: 10px;
  margin-top: 15px;
  background-color: #151515;
  cursor: pointer;
  transition: 0.3s;
}

.informacoes_dados:hover {
  background-color: #8f5c0b;
  transition: 0.5s;
  letter-spacing: 0.2px;
}

.informacoes_exp:hover {
  background-color: #8f5c0b;
  transition: 0.5s;
  letter-spacing: 0.2px;
}

.informacoes_contato:hover {
  background-color: #8f5c0b;
  transition: 0.5s;
  letter-spacing: 0.2px;
}
